# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.OnPipe.iml
# Datasource local storage ignored files
/../../../../../../:\UnityProject\OnPipe\.idea\.idea.OnPipe\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
